*.ovpn

# All Hidden Files
.*

# Hide Large PCAPs
*.pcap

# Virtual Environment patterns
env/
venv/
ENV/
.env/
.venv/
virtualenv/
.virtualenv/
*env*/
.python-version

# Specific to Pipenv
Pipfile.lock

# Specific to conda
.conda/
conda-env/

# Distribution / packaging
dist/
build/
*.egg-info/

CREDS